<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!--mybatis核心配置环境
可以全部教育spring去处理
也可在这里配置
-->
<configuration>


    <typeAliases>
        <package name="com.xuanxie.pojo"/>
    </typeAliases>

</configuration>


