<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

<!--复杂的ioc注入测试-->

    <bean id="address" class="com.xuanxie.pojo.Address">
        <property name="address" value="湖南"/>
    </bean>

    <bean id="student" class="com.xuanxie.pojo.Student">
        <!--普通注入-->
        <property name="name" value="xuanxie"/>
        <!--bean注入-->
        <property name="address" ref="address"/>
        <!--数组注入-->
        <property name="books">
            <array>
                <value>红楼梦</value>
                <value>水浒传</value>
                <value>西游记</value>
                <value>三国演义</value>
            </array>
        </property>
        <property name="hobbys">
            <list>
                <value>看电影</value>
                <value>听音乐</value>
                <value>敲代码</value>
                <value>学算法</value>
            </list>
        </property>
        <property name="card">
            <map>
                <entry key="身份证" value="123456789012345678"/>
                <entry key="学号" value="1234643784239"/>
                <entry key="班级" value="31324"/>
            </map>
        </property>
        <property name="games">
            <set>
                <value>LOL</value>
                <value>COC</value>
                <value>BOB</value>
                <value>王者</value>
            </set>
        </property>

        <!--空值注入-->
        <property name="wife">
            <null/>
        </property>
        <property name="info">
            <props>
                <prop key="学校">whut</prop>
                <prop key="性别">男</prop>
                <prop key="专业">计算机</prop>
            </props>
        </property>

    </bean>

</beans>