<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>springmvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
<!--            <param-value>classpath:spring-mvc.xml</param-value>
                此处要将所有的spring bean配置文件都导出,sprinv-mvc子包含一层的bean
                配置文件,导致有些bean最后没有注入到容器中,程序运行是产生错误.
             所以此处应该导入总的配置文件,appliationContext.xml:该文件整合了所有的配置文件
-->
            <param-value>classpath:applicationContext.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>springmvc</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>


<!--    <filter>-->
<!--        <filter-name>encoding</filter-name>-->
<!--        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>-->
<!--    </filter>-->
<!--    <filter-mapping>-->
<!--        <filter-name>encoding</filter-name>-->
<!--        <url-pattern>/*</url-pattern>-->
<!--    </filter-mapping>-->
    <filter>
        <filter-name>genericEncoding</filter-name>
        <filter-class>com.xuanxie.filter.GenericEncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>genericEncoding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--设置session过期时间-->
    <session-config>
        <session-timeout>3</session-timeout>
    </session-config>
</web-app>